.CanDo {
  width: 100%;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &-container {
    width: 90%;
    margin: 0 auto;
  }
  &-title {
    padding-inline: 0 !important;
  }
  &-decorate {
    animation: slideInFromLeft 1.5s ease-out forwards;
    transform: translateX(-100%);
    opacity: 0;
    & .decorate-path {
      stroke-dasharray: 400; /* Replace 400 with your path's length */
      stroke-dashoffset: 400;
      animation: draw-decorate 2s linear forwards;
    }

    svg {
      width: 100%;
      path {
        stroke-dasharray: 4000;
        stroke-dashoffset: 4000;
        transition: stroke-dashoffset 6s linear;
      }
    }
  }

  &:hover {
    .CanDo-decorate {
      svg {
        path {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}

@keyframes slideInFromLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes draw-decorate {
  to {
    stroke-dashoffset: 0;
  }
}

.CanDo-decorate {
  .decorate-item {
    opacity: 0;
    transform: translateY(20px);
    animation: decorate-item-appear 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

@keyframes decorate-item-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
