.Button {
  width: max-content;
  height: max-content;
  padding: 0.1rem 1.5rem;
  border: 0.5px solid var(--primary-color);
  text-align: center;
  p {
    font-size: 0.65rem;
    font-family: "MonaSans-Medium";
    color: var(--primary-color);
    text-transform: capitalize;
  }
  &.primary {
    background-color: var(--primary-color);
    cursor: pointer;
    p {
      color: var(--white);
      font-family: "MonaSans-SemiBold";
    }
  }
  &:hover {
    background-color: var(--white);
    border: 0.5px solid var(--primary-color);
    p {
      color: var(--primary-color);
      font-family: "MonaSans-SemiBold";
    }
  }
}

@media (max-width: 425px) {
  .Button {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 1440.98px) {
  .Button {
    padding: 0.5rem 2rem;
    &.primary {
      p {
        font-size: 1.45rem;
        box-shadow: none;
      }
    }
  }
}
