.Button {
  width: max-content;
  height: max-content;
  padding: 0.1rem 1.5rem;
  border: 0.5px solid var(--primary-color);
  text-align: center;
  p {
    font-size: 0.65rem;
    font-family: "MonaSans-Medium";
    color: var(--primary-color);
    text-transform: capitalize;
  }
  &.primary {
    background-color: var(--primary-color);
    p {
      color: var(--white);
      font-family: "MonaSans-SemiBold";
    }
  }
}
