.Tittle {
  // padding-inline: calc(7% + 2rem);
  font-family: "Nunito";
  letter-spacing: 0.5em;
  line-height: 14px !important;
  text-transform: uppercase;
  font-size: 10px !important;
  color: var(--primary-color);
}
