.Header {
  font-family: var(--gilroy-regular) !important;
  color: var(--primary-color);
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  &-container {
    width: 90%;
    margin: 0 auto;
    align-items: flex-end;
    padding-top: 2rem;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--secondary-color);
    p {
      font-family: "Gilroy-Medium";
      font-size: 14px;
    }
  }
}

@media (max-width: 425.98px) {
  .Header {
    p {
      font-size: 12px;
    }
  }
}
