.Header {
  font-family: "MonaSans-Regular" !important;
  color: var(--primary-color);
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  &-container {
    width: 90%;
    margin: 0 auto;
    align-items: flex-end;
    padding-top: 2rem;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--secondary-color);
    p {
      font-family: "MonaSans-Medium";
      font-size: 13px;
    }
  }
}

@media (min-width: 768.99px) and (max-width: 1024.98px) {
  .Header {
    &-content {
      p {
        font-size: 0.65rem;
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 768.98px) {
  .Header {
    p {
      font-size: 0.65rem;
    }
  }
}

@media (max-width: 425px) {
  .Header {
    p {
      font-size: 0.65rem;
    }
  }
}
