.Footer {
  padding-block: 2rem;
  p {
    color: var(--primary-color);
    text-align: left;
  }
  &-container {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-content {
    padding-inline: 5%;
    border-block: 1px solid var(--secondary-color);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-block: 3rem;
    &:first-child {
      border-right: 1px solid var(--secondary-color);
    }
    &:last-child {
      border-left: 1px solid var(--secondary-color);
    }
    &:not(:first-child) {
      padding-left: 3rem;
    }
  }
  &-title {
    font-family: "MonaSans-Bold";
    font-size: 12px;
    color: var(--primary-color);
  }
  &-info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &-info-item {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  &-label {
    font-family: "MonaSans-Bold";
    font-size: 12px;
    color: var(--primary-color);
  }
  &-value {
    font-family: "MonaSans-Light" !important;
    font-size: 12px;
    color: var(--primary-color);
  }
  &-role-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &-role-item {
    font-family: "MonaSans-Medium";
    font-size: 12px;
    color: var(--primary-color);
  }
  &-copyright {
    font-family: "MonaSans-SemiBold";
    font-size: 12px;
    color: var(--primary-color);
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1439.98px) {
  .Footer {
    padding-block: 0.75rem;
    &-container {
      gap: 1rem;
    }
    p {
      font-family: "MonaSans-SemiBold";
    }

    &-item {
      svg {
        width: 60%;
        height: 80%;
      }
      padding-block: 2rem;
      &:not(:first-child) {
        padding-left: 2rem;
      }
      > p {
        font-family: "MonaSans-Bold";
      }
    }

    &-title {
      font-family: "MonaSans-Bold";
      font-size: 0.65rem;
      color: var(--primary-color);
    }
    &-label {
      font-family: "MonaSans-SemiBold";
      font-size: 0.65rem;
      color: var(--primary-color);
    }
    &-value {
      font-family: "MonaSans-Light" !important;
      font-size: 0.65rem;
      color: var(--primary-color);
    }
    &-role-item {
      font-family: "MonaSans-Light" !important;
      font-size: 0.65rem;
    }
    &-role-container {
      gap: 0.75rem;
    }
    &-info-container {
      gap: 0.75rem;
    }
  }
}

@media (min-width: 425.99px) and (max-width: 1023.98px) {
  .Footer {
    &-content {
      grid-template-columns: repeat(2, 1fr);
    }
    &-item {
      &:first-child {
        padding-right: 15%;
        svg {
          width: 90%;
          height: 100%;
        }
      }
      &:last-child {
        padding-top: 0;
        margin-left: -1px;
      }
    }
  }
}

@media (max-width: 425.98px) {
  .Footer {
    &-content {
      padding-top: 3rem;
      padding-block: 2rem;
      grid-template-columns: 37.5% 62.5%;
    }
    &-item {
      padding-block: 1rem;
      &:first-child {
        svg {
          width: 40%;
          height: 100%;
        }
        grid-column: 1 / 3;
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
      &:not(:first-child) {
        grid-column: 2 / 3;
        padding-left: 0;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(2) {
        margin-top: 2rem;
      }
    }
  }
}
