.Animate {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  & .next-icon {
    position: absolute;
    left: 8%;
    bottom: 3%;
    transform: translateX(50%);
    animation: moveLeftToRight 2s ease-in-out infinite;
    svg {
      width: 2.5rem;
      path {
        stroke-width: 2px;
      }
    }
  }
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(50%) translateX(0);
  }
  50% {
    transform: translateX(50%) translateX(10px);
  }
  100% {
    transform: translateX(50%) translateX(0);
  }
}
